html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9d07d; 
    flex-direction: column;
    height: 100vh;
    font-family: 'Trebuchet MS', sans-serif;
}

.page-container {
    background: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    margin: 0 auto;
    position: relative;
    overflow: auto;
}

.title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px; 
    margin-top: 5px; 
}

.canvas-container {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(50, 20px);
    grid-template-rows: repeat(30, 20px);
    margin-top: 10px;
    justify-content: center;
}

.pixel {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}

.color-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.color-presets {
    display: flex;
    margin-right: 10px; 
}

.color-preset {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: width 0.2s, height 0.2s, border-radius 0.2s, filter 0.2s;
}

.color-preset.selected {
    width: 35px; 
    height: 35px;
    border-radius: 7px;
    filter: brightness(90%);
}

.color-space {
    width: 10px; 
}

#color-picker {
    width: 50px;
    height: 30px;
    border: 2px transparent solid grey;
    cursor: pointer;
    filter: brightness(100%); 
}

#eyedropper-button {
    width: 30px; 
    height: 30px; 
    border: 1px solid #000;
    border-radius: 5px;
    transition: width 0.2s, height 0.2s, border-radius 0.2s, filter 0.2s;
}

#eyedropper-button.active {
    width: 35px; 
    height: 35px; 
    border-radius: 7px; 
    filter: brightness(90%); 
}

#download-button {
    position: absolute;
    font-size: 16px;
    top: 20px; 
    right: 20px; 
    padding: 10px 20px; 
    background-color: #deb933; 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); 
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

#download-button:hover {
    background-color: #a8a8a8; 
    transform: scale(1.05); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
}

.gallery-button {
    position: absolute;
    font-size: 16px;
    top: 20px;
    left: 20px; 
    padding: 10px 20px; 
    background-color: #deb933; 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); 
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.gallery-button:hover {
    background-color: #a8a8a8;
    transform: scale(1.05); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
}

.logo-image {
    width: 130px;
    position: absolute;
    height: auto; 
    vertical-align:middle; 
    right: 25px; 
}

.active-count {
    margin-left: 190px;
}