html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9d07d; 
    flex-direction: column;
    height: 100vh;
    font-family: 'Trebuchet MS', sans-serif;
}

.page-container {
    background: rgba(255, 255, 255, 0.8); 
    padding: 47px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 1200px; 
    margin: 0 auto;
    position: relative;
    overflow: auto;
    overflow-x: auto;
    max-height: 100vh;
    min-width: 100%;
}

.canvas-container {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(50, 20px);
    grid-template-rows: repeat(30, 20px);
    margin-top: 10px;
    justify-content: center;
}

.title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 5px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: relative; 
}

.canvas-button {
    position: absolute;
    font-size: 16px;
    top: 20px; 
    left: 20px; 
    padding: 10px 20px; 
    background-color: #deb933; 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); 
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease; 
}

.canvas-button:hover {
    background-color: #a8a8a8;
    transform: scale(1.05); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.logo-image {
    width: 110px;
    position: absolute;
    height: auto; 
    vertical-align:middle; 
    left: -115px;
}

.pixel {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}